.nb-gradle
.gradle
.DS_Store
build/test-results
build/reports
build/libs
build/javadoc
src/client/build
src/server/build
src/sample/build
src/common/build
src/mms/jmms/build
src/mms/jositransport/build
